/* CSS for an element that is the root of the document. In HTML this is usually the <html> element. */
:root {
  --bg: #151c2c;
  --bgSoft: #182337;
  --text: white;
  --textSoft: #b7bac1;
}

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
